*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:350px;
    background:#f4f4f4;
    padding:15px;
    overflow-y:auto;
    border-right:1px solid #ddd;
}

.sidebar h2{
    color:#334261;
    margin-bottom:15px;
}

.sidebar input,
.sidebar select,
.sidebar button{
    width:100%;
    padding:10px;
    margin-bottom:10px;
}

.sidebar button{
    background:#334261;
    color:white;
    border:none;
    cursor:pointer;
}

.sidebar button:hover{
    opacity:.9;
}

#map{
    flex:1;
}

.card{
    background:white;
    padding:10px;
    margin-bottom:10px;
    border-radius:6px;
    border:1px solid #ddd;
}

.card button{
    width:auto;
    margin-top:5px;
    margin-right:5px;
    padding:6px 10px;
}